
:root{
    --backColour: #f4c842;
}

#image-display{
    width:500px;
    height: 100%;
    border: 3px solid var(--backColour);
    z-index: -1;
    padding:3;
    margin:0;
    box-shadow:10px 10px 10px rgba(0, 0, 0, 0.5);
}

@keyframes image-slide{
   
    25%  {width: 25%;}
    50%  {width: 75%;}
    100% {width: 100%;}
}

#img-size{
    height:100%;
    width:100%;
    z-index: -1;
    margin:0;
    position: relative;
    /* transition:width 2s, height 2s, transform 2s;
    animation-name: image-slide;
    animation-duration: 4s; */
    
}

/* left arrow */
#left{
    z-index: 0;
    position: fixed;
    left:21.5%;
    top:10%;
    cursor: pointer;
    color:#ffffff;
    padding:0;
}


/* right arrow */
#right{
    z-index: 0;
    position: fixed;
    right:53.5%;
    top: 10%;
    cursor: pointer;
    color:#ffffff;
    padding:0;
}


/*Desktop Media Queries*/

@media(min-width: 1573px) {

    #right{
        right:35%;
        top: 12%;
    }

    #left{
        left:35.5%;
        top:12%;
    }
}

@media(min-width: 1613px) {

    #right{
        right:35.5%;
        top: 11%;
    }

    #left{
        left:35.5%;
        top:11%;
    }
}

@media(min-width: 1140px) {

    #right{
        right:37.5%;
        top: 11%;
    }

    #left{
        left:37.5%;
        top:11%;
    }
}
